/* 공통 */
:root {
  --main-color: #12499d;
}

#hd {
  height: 100vh;
}

.pro-tit {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  color: #555;
}

.pro-des {
  font-size: 1.3rem;
  line-height: 1.3;
  padding-bottom: 20px;
  margin-bottom: 3rem;
  text-align: center;
  color: #555;
}

.section {
  margin-top: 7rem;
}

.last-section {
  margin-bottom: 8rem;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pro-subtit {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  color: #555;
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.contents {
  display: none;
}

.contents.open {
  display: block;
}

/* 프로그램 섹션 */
.program-section {
  position: relative;
  margin-top: 0;
}

.program-section .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.program-section .img-bx img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
}

.program-section .txt-bx {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.program-section .txt-bx .tit {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px #242424;
}

.program-section .txt-bx .txt {
  font-size: 1.4rem;
  margin-top: 10px;
  text-shadow: 2px 2px 5px #242424;
}

/* 카테고리 래퍼 */
.program-tab-wrap {
  display: flex;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  border-radius: 20px;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.program-tab {
  flex: 1 0 auto;
  text-align: center;
  padding: 20px 0;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.program-tab:after {
  content: "";
  right: -1px;
  height: 0.8em;
  top: 50%;
  margin-top: -0.4em;
  position: absolute;
  border-left: 1px solid #b3b3b3;
}

.program-tab:last-child:after {
  content: none;
}

.program-tab.on:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 55%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--main-color);
}

/* 심리검사 신청 절차 */
/* progress */
.process-wrap {
  display: flex;
}

.process-wrap .process-item {
  flex: 1 0 25%;
  text-align: center;
}

.process-item .txt-bx {
  margin-top: 2rem;
  color: #666;
  font-size: 1.2rem;
  line-height: 1.4;
}

.process-item > img {
  height: 250px;
}

/* 배너 이미지 */
.banner-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 75px;
}

/* 소개 텍스트 */
.intro-text {
  text-align: center;
}

.intro-text img {
  padding: 40px;
}

.intro-desc {
  font-size: 1.3rem;
  line-height: 2.1;
}

/* 검사 구성 */
.slide-wrapper {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.slide {
  border-radius: 3%;
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.content {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* 배너2 */

.banner-text {
  text-align: center;
}

.banner-text h4 {
  font-size: 2rem;
  color: #2175aa;
  margin-bottom: 15px;
}

.banner-text p {
  font-size: 1.125rem;
  margin-bottom: 40px;
  line-height: 1.8;
}

.banner-img {
}

/* 시간 안내 */
.time-wrap {
  display: flex;
  gap: 20px;
}

.time-wrap .time-item {
  flex: 1 0 auto;
  border: 1px solid #ddd;
  padding: 50px;
  text-align: center;
}

.time-wrap .time-item .tit {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #555;
  font-weight: 500;
}

.time-item .txt {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #555;
}

.info-wrap {
  display: flex;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 30px 20px;
  align-items: center;
  color: #555;
}

.info-wrap > .inner {
  display: flex;
  width: 100%;
}

.info-wrap .info-tit {
  flex: 1 0 30%;
  text-align: center;
  border-right: 1px solid #a3a3a3;
  margin-right: 100px;
}

.info-tit .inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.info-wrap .info-tit .logo {
  margin: 0 auto;
}

.info-wrap .info-tit > p {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-top: 20px;
}

.info-item {
  width: 100%;
}

.info-item .tit {
  background-color: var(--main-color);
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
  min-width: 150px;
  width: fit-content;
  text-align: center;
}

.info-item .txt {
  font-size: 1.2rem;
  line-height: 1.4;
}
